@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../public/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../public/fonts/HankenGrotesk-Italic-VariableFont_wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../public/fonts/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2');
}

.font-icons {
  font-weight: 300;
  font-style: normal;
  line-height: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 1;
}
